* {
  font-weight: 400;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../public/images/background.jpeg);
  background-size: cover;
  filter: saturate(1.5) brightness(0.2);
  z-index: -1;
  box-shadow: inset 0 0 300px black;
}

@media (max-width: 768px) {
  body::before {
    display: none; /* hide the background image on small screens */
  }
}
